.vscode
dataRepo
*.asv
.DS_STORE
norms.csv

# LaTeX auxiliary files
*.aux
*.log
*.toc
*.out
*.synctex.gz
*.fdb_latexmk
*.fls
*.bbl
*.blg
*.idx
*.ind
*.ilg
*.lof
*.lot
*.nav
*.snm
*.vrb
*.bcf
*.run.xml
*.fls
*.gz
*.dvi
*.ps
*.bak
*.swp
*.swo
*~
.texpadtmp/
*.loa
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.xdv
TeX/DP/presentation/~$dp1.pptx
